.latest{
    text-align: center;
    p{
        width: 70%;
        margin: 0 auto;
    }
    .imgs{
        @include flex(25px);
        margin-top: 100px;
        text-align: start;
        img{
            width: 100%;
        }
    }
    @media (max-width: 500px) {
        .imgs{
            flex-direction: column;
        }
    }
}