.services{
    margin: 100px 0;
    .container{
        @include flex(50px, column);
    }
    .cards{
        @include grid(1fr 1fr 1fr, auto, 70px, 100px);
    }
    .card{
        @include flex(20px, column);
        p{
            text-align: center;
        }
    }
    .p{
        margin-top: 150px;
    }
    button{
        @include btn();
    }
    button:hover{
        @include btnh();
    }
    @media (max-width: 800px) {
        .cards{
            @include grid(1fr 1fr, auto, 70px, 100px);
        }
    }
    @media (max-width: 600px) {
        .cards{
            @include grid(1fr, auto, 70px, 100px);
        }
    }
}