.artworks{
    margin: 100px 0;
    .container{
        @include flex(100px, column);
    }
    p{
        width: 30%;
        margin: 0 auto;
        text-align: center;
    }
    &_text{
        @include flex(0, 0, center, space-between);
        width: 100%;
        .p{
            width: 80%;
            @include flex(20px, column, center, center);    
            font-size: 52px;
        }
        .img:nth-child(1){
            display: flex;
            align-self: flex-start;
        }
        .img:nth-child(3){
            display: flex;
            align-self: end;
        }
        img{
            width: 100%;
        }
    }
    button{
        @include btn();
        display: flex;
        align-self: center;
        margin-top: 50px;
    }
    button:hover{
        @include btnh();
    }
    @media (max-width: 1100px) {
        p{
            width: 50%;
        }
        &_text{
            flex-direction: column;
            gap: 30px;
        }
    }
    @media (max-width: 500px) {
        p{
            width: 80%;
        }
        &_text{
            .p{
                font-size: 32px;
            }

        }
    }
}