@mixin flex( $gp: 0, $fd: row, $ai: center, $jc: center) {
    display: flex;
    gap: $gp;
    flex-direction: $fd;
    align-items: $ai;
    justify-content: $jc;
}

@mixin grid($gtc, $gtr, $cg: 0, $rg: 0) {
    display: grid;
    grid-template-columns: $gtc;
    grid-template-rows: $gtr;
    column-gap: $cg;
    row-gap: $rg;
}
@mixin btn($bkg: white, $cl: black) {
    background-color: $bkg;
    color: $cl;
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 9999px;
    cursor: pointer;
}
@mixin btnh($bkg: black, $cl: white) {
    background-color: $bkg;
    color: $cl;
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 9999px;
    cursor: pointer;
}