@import './mixin';
@import './nav';
@import './contemporary';
@import './artworks';
@import './latest';
@import './services';
@import './footer';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    a{
        color: black;
    }
}
.container{
    width: 90%;
    margin: 0 auto;
}
.uk-slideshow-title{
    @include flex(0, 0, 0, space-between);
    margin: 0 auto;
    margin-bottom: 50px;
    button{
        @include btn();
    }
    button:hover{
        @include btnh();
    }
    .right{
        display: flex;
        justify-content: end;
        align-items: center;
        width: 40%;
    }
}
.selection{
    ul{
        width: 100%;
    }
    .cards{
        @include flex(20px);
        .card{
            img{
                width: 100%;
            }
            p{
                margin: 0;
                color: black !important;
            }
        }
    }
}
.news{
    text-align: center;
    padding-bottom: 100px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    h1{
        width: 50%;
        margin: 0 auto;
        padding: 100px 0;
        border-bottom: 1px solid black;
    }
    button{
        @include btn();
        padding: 10px 25px;
    }
    button:hover{
        @include btnh();
        padding: 10px 25px;
    }
}