.nav {
  padding: 30px 0;
}
.nav .container {
  display: flex;
  gap: 0;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
}
.nav .ul {
  display: flex;
  gap: 0;
  flex-direction: 0;
  align-items: 0;
  justify-content: space-between;
  width: 100%;
}
.nav .ul ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav .ul a {
  text-decoration: none;
}
.nav i {
  display: none;
}
.nav input {
  display: none;
}
.nav .logo {
  display: none;
}
.nav .logo img {
  width: 100%;
}
.nav a:hover {
  color: red;
}
.nav #nav:checked ~ .ul {
  left: 0;
  transition: 0.5s;
}
@media (max-width: 800px) {
  .nav .logo {
    display: block;
    width: 100%;
  }
  .nav i {
    font-size: 2rem;
    display: block;
    position: fixed;
    top: 10%;
    right: 10%;
  }
  .nav .ul {
    position: fixed;
    top: 0;
    left: -150%;
    transition: 0.5s;
    padding: 30px;
    width: 40vw;
    height: 100vh;
    background-color: white;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav .ul ul {
    flex-direction: column;
  }
}

.main {
  background-image: url(../media/IMAGE.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px;
}
.main .img {
  width: 50%;
  margin: 0 auto;
  margin-top: 400px;
}
.main .img img {
  width: 100%;
}

.contemporary .container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contemporary .title {
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 100px;
}
.contemporary .title h1 {
  width: 70%;
  font-size: 72px;
}
.contemporary .title button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
.contemporary .title button:hover {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
.contemporary .images {
  display: flex;
  gap: 25px;
  flex-direction: 0;
  align-items: end;
  justify-content: center;
}
.contemporary .images .img:nth-child(2) {
  margin-bottom: 80px;
}
.contemporary .images .img:nth-child(3) {
  margin-bottom: 80px;
}
.contemporary .images img {
  width: 100%;
}
.contemporary .text {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.contemporary .text .more {
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  display: none;
}
.contemporary .text button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
  margin-top: 30px;
}
.contemporary .text button:hover {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .contemporary .title h1 {
    width: 100%;
  }
  .contemporary .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    -moz-column-gap: 25px;
         column-gap: 25px;
    row-gap: 25px;
  }
  .contemporary .images .img:nth-child(2) {
    margin: 0;
  }
  .contemporary .images .img:nth-child(3) {
    margin: 0;
  }
  .contemporary .images .img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
@media (max-width: 600px) {
  .contemporary .title h1 {
    font-size: 52px;
  }
}

.artworks {
  margin: 100px 0;
}
.artworks .container {
  display: flex;
  gap: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.artworks p {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.artworks_text {
  display: flex;
  gap: 0;
  flex-direction: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.artworks_text .p {
  width: 80%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 52px;
}
.artworks_text .img:nth-child(1) {
  display: flex;
  align-self: flex-start;
}
.artworks_text .img:nth-child(3) {
  display: flex;
  align-self: end;
}
.artworks_text img {
  width: 100%;
}
.artworks button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
  display: flex;
  align-self: center;
  margin-top: 50px;
}
.artworks button:hover {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
@media (max-width: 1100px) {
  .artworks p {
    width: 50%;
  }
  .artworks_text {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .artworks p {
    width: 80%;
  }
  .artworks_text .p {
    font-size: 32px;
  }
}

.latest {
  text-align: center;
}
.latest p {
  width: 70%;
  margin: 0 auto;
}
.latest .imgs {
  display: flex;
  gap: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  text-align: start;
}
.latest .imgs img {
  width: 100%;
}
@media (max-width: 500px) {
  .latest .imgs {
    flex-direction: column;
  }
}

.services {
  margin: 100px 0;
}
.services .container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  -moz-column-gap: 70px;
       column-gap: 70px;
  row-gap: 100px;
}
.services .card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.services .card p {
  text-align: center;
}
.services .p {
  margin-top: 150px;
}
.services button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
.services button:hover {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .services .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 100px;
  }
}
@media (max-width: 600px) {
  .services .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    -moz-column-gap: 70px;
         column-gap: 70px;
    row-gap: 100px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 80px;
  justify-content: space-between;
  margin-top: 50px;
}
footer .footer__links {
  display: flex;
  gap: 40px;
  width: 100%;
}
@media (max-width: 900px) {
  footer .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
footer .footer__links li a {
  color: black;
  text-decoration: none;
}
footer .footer__links li a:hover {
  color: red;
}
footer .footer__rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  footer .footer__rights {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
* a {
  color: black;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.uk-slideshow-title {
  display: flex;
  gap: 0;
  flex-direction: 0;
  align-items: 0;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 50px;
}
.uk-slideshow-title button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
.uk-slideshow-title button:hover {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
}
.uk-slideshow-title .right {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 40%;
}

.selection ul {
  width: 100%;
}
.selection .cards {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.selection .cards .card img {
  width: 100%;
}
.selection .cards .card p {
  margin: 0;
  color: black !important;
}

.news {
  text-align: center;
  padding-bottom: 100px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.news h1 {
  width: 50%;
  margin: 0 auto;
  padding: 100px 0;
  border-bottom: 1px solid black;
}
.news button {
  background-color: white;
  color: black;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 25px;
}
.news button:hover {
  background-color: black;
  color: white;
  padding: 5px 25px;
  border: 1px solid black;
  border-radius: 9999px;
  cursor: pointer;
  padding: 10px 25px;
}/*# sourceMappingURL=style.css.map */